<form>
    <div class="mb-3">
        <label class="form-label">Yorum Yapanın Adı</label>
        <input class="form-control" type="text" name="CommentName" placeholder="Yorum Yapanın Adı" />
    </div>
    <div class="mb-3">
        <label class="form-label">Yorumunuz Yazın</label>
        <textarea class="form-control" type="text" name="CommentContent" placeholder="Yorum"></textarea>
    </div>

</form>
