

<div class="col-md-6 tn-left">
  @model List<GazeteProje.Models.News>
    <div class="row tn-slider">
        @foreach(var item in Model)
        {
            <div class="col-md-6">
                <div class="tn-img">
                    <img src="/New_Image/@item.NewsImage" />
                    <div class="tn-title">
                        <a asp-action="Details" asp-controller="News" asp-route-id="@item.NewsId">@item.Header1</a>
                    </div>
                </div>
            </div>
        }
      
      
    </div>
</div>
