@model List<GazeteProje.Dto.CommentDto>
<div class="row">
    <div class="col-md-6">
        <table border="1">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CommentName</td>
                    <td>@item.CommentContent</td>
                </tr>
            }
        </table>
    </div>
</div>
