<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">Gazete Portal</div>
                <div class="col-md-5">ÇIKIŞ</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Ana Menü
                    </a>
                    <a href="/Categories/Index" class="list-group-item list-group-item-action">Kategoriler</a>
                    <a asp-action="Index" asp-controller="Admins" class="list-group-item list-group-item-action">Admin</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
                </div>


                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
