@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-7"><a asp-action="Index" class="btn  btn-outline-danger" asp-controller="Home">Gazete Portal</a></div>
                <div class="col-md-5"><a asp-action="Logout" asp-controller="Login" class="btn btn-primary">Çıkış</a></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        Ana Menü
                    </a>
                    <a href="/Categories/Index" class="list-group-item list-group-item-action">Kategoriler</a>
                    <a asp-action="Index" asp-controller="Admins" class="list-group-item list-group-item-action">Admin</a>
                    <a asp-action="Index" asp-controller="Roller" class="list-group-item list-group-item-action">Roller</a>
                    <a asp-action="Index" asp-controller="UserRol" class="list-group-item list-group-item-action">Kullanıcıya Rol Ata</a>
                    <a href="/News/Index" class="list-group-item list-group-item-action">Haberler</a>
                    <a href="/Writers/Index" class="list-group-item list-group-item-action">Yazarlar</a>
                    <a asp-action="Index" asp-controller="CornerPosts" class="list-group-item list-group-item-action">Köşe Yazıları</a>
                    <a asp-action="Index" asp-controller="Comments" class="list-group-item list-group-item-action">Yorumlar</a>
                    <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a>
                </div>


                </div>
                <div class="col-md-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.1/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.1/"
        }
    }
</script>
<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Paragraph,
        Bold,
        Italic,
        Font
    } from 'ckeditor5';

    ClassicEditor
        .create(document.querySelector('#editor'), {
            plugins: [Essentials, Paragraph, Bold, Italic, Font],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ]
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error(error);
        });
</script>
<!-- A friendly reminder to run on a server, remove this during the integration. -->
<script>
    window.onload = function () {
        if (window.location.protocol === "file:") {
            alert("This sample requires an HTTP server. Please serve this file with a web server.");
        }
    };
</script>





    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
